<div class="container">
  <h1>Lista de Tarefas</h1>

  <nz-alert
    *ngIf="
      (alertaService.tipoAlerta$ | async) &&
      (alertaService.mensagemAlerta$ | async)
    "
    [nzType]="(alertaService.tipoAlerta$ | async) || 'info'"
    [nzMessage]="alertaService.mensagemAlerta$ | async"
    nzShowIcon
    nzCloseable
    (nzOnClose)="alertaService.limparAlerta()"
  ></nz-alert>

  <div class="search-container">
    <h2>Buscar Tarefas</h2>
    <form [formGroup]="filtroForm" (ngSubmit)="buscarTarefa()">
      <input nz-input type="number" placeholder="Número" formControlName="id" />
      <input nz-input placeholder="Título" formControlName="titulo" />
      <input nz-input placeholder="Descrição" formControlName="descricao" />
      <nz-select
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Responsável"
        formControlName="responsavelId"
      >
        <nz-option
          *ngFor="let usuario of usuarios"
          [nzValue]="usuario.id"
          [nzLabel]="usuario.pessoa.nome"
        ></nz-option>
      </nz-select>
      <nz-select
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Situação"
        formControlName="situacao"
      >
        <nz-option
          *ngFor="let situacao of situacoes"
          [nzValue]="situacao"
          [nzLabel]="situacao"
        ></nz-option>
      </nz-select>
      <button [nzLoading]="carregando" nz-button nzType="primary" type="submit">
        <i nz-icon nzType="search"></i> Buscar
      </button>
    </form>
  </div>
  <h2>Lista de Tarefas</h2>
  <nz-table
    #basicTable
    [nzData]="tarefas"
    [nzPageSize]="itensPorPagina"
    [nzFrontPagination]="false"
    [nzPageIndex]="paginaAtual"
    [nzLoading]="carregando"
    [nzBordered]="true"
    [nzTotal]="totalElementos"
    (nzPageIndexChange)="aoMudarPagina($event)"
  >
    <thead>
      <tr>
        <th scope="col">Número</th>
        <th scope="col">Título</th>
        <th scope="col">Descrição</th>
        <th scope="col">Responsável</th>
        <th scope="col">Data Cadastro</th>
        <th scope="col">DeadLine</th>
        <th scope="col">Situação</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tarefa of tarefas" (click)="abrirModalTarefa(tarefa)">
        <td>{{ tarefa.id }}</td>
        <td>{{ tarefa.titulo | slice : 0 : 30 }}...</td>
        <td>{{ tarefa.descricao | slice : 0 : 15 }}...</td>
        <td>{{ tarefa.responsavel.pessoa.nome }}</td>
        <td>{{ tarefa.criadoEm | date: 'dd/MM/yyyy' }}</td>
        <td>{{ tarefa.deadline | date: 'dd/MM/yyyy' }}</td>
        <td>{{ tarefa.situacao }}</td>
        <td>
          <a
            [routerLink]="['/tarefas/update', tarefa.id]"
            (click)="$event.stopPropagation()"
          >
            <i
              nz-icon
              nzType="edit"
              nzTheme="outline"
              title="Atualizar tarefa"
            ></i>
          </a>
          <a
            [routerLink]="['/tarefas/delete', tarefa.id]"
            (click)="$event.stopPropagation()"
          >
            <i
              nz-icon
              nzType="delete"
              nzTheme="outline"
              title="Deletar tarefa"
            ></i>
          </a>
          <a
            nz-popconfirm
            nzPopconfirmTitle="Tem certeza que deseja concluir esta tarefa?"
            (nzOnConfirm)="confirm(tarefa.id)"
            (nzOnCancel)="cancel()"
            (click)="$event.stopPropagation()"
          >
            <i
              nz-icon
              nzType="check-circle"
              nzTheme="outline"
              title="Concluir tarefa"
            ></i>
          </a>
          <a
            nz-popconfirm
            nzPopconfirmTitle="Tem certeza que deseja exportar esta tarefa para PDF?"
            (nzOnConfirm)="exportarTarefaParaPDF(tarefa)"
            (nzOnCancel)="cancel()"
            (click)="$event.stopPropagation()"
          >
            <i
              nz-icon
              nzType="file-pdf"
              nzTheme="outline"
              title="Exportar para PDF"
            ></i>
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <!-- Modal para exibir os detalhes da tarefa -->
  <nz-modal
    [(nzVisible)]="modalVisible"
    nzTitle="Detalhes da Tarefa"
    [nzFooter]="modalFooter"
    (nzOnOk)="fecharModal()"
    (nzOnCancel)="fecharModal()"
  >
    <ng-container *nzModalContent>
      <div class="modal-content">
        <p><strong>Título:</strong> {{ tarefaSelecionada?.titulo }}</p>
        <p><strong>Descrição:</strong> {{ tarefaSelecionada?.descricao }}</p>
        <p>
          <strong>Responsável:</strong>
          {{ tarefaSelecionada?.responsavel?.pessoa?.nome }}
        </p>
        <p>
          <strong>Data Cadastro:</strong>
          {{ tarefaSelecionada?.criadoEm | date : "dd-MM-yyyy" }}
        </p>
        <p>
          <strong>DeadLine:</strong>
          {{ tarefaSelecionada?.deadline | date : "dd-MM-yyyy" }}
        </p>
        <p><strong>Situação:</strong> {{ tarefaSelecionada?.situacao }}</p>
        <p><strong>Situação:</strong> {{ tarefaSelecionada?.prioridade }}</p>
        <p><strong>Arquivos:</strong></p>
        <ul class="file-list">
          <li
            *ngFor="let fileUrl of tarefaSelecionada?.arquivosUrl"
            class="file-item"
          >
            <ng-container
              *ngIf="fileUrl.endsWith('.pdf'); else otherFileTemplate"
            >
              <a [href]="fileUrl" target="_blank">
                <i nz-icon nzType="file-pdf" nzTheme="outline"></i> Abrir PDF
              </a>
            </ng-container>
            <ng-template #otherFileTemplate>
              <ng-container
                *ngIf="
                  fileUrl.endsWith('.jpg') ||
                    fileUrl.endsWith('.jpeg') ||
                    fileUrl.endsWith('.png');
                  else otherFileTypes
                "
              >
                <a [href]="fileUrl" target="_blank">
                  <i nz-icon nzType="file-image" nzTheme="outline"></i> Abrir
                  Imagem
                </a>
              </ng-container>
              <ng-template #otherFileTypes>
                <ng-container
                  *ngIf="
                    fileUrl.endsWith('.doc') || fileUrl.endsWith('.docx');
                    else textFileTemplate
                  "
                >
                  <a [href]="fileUrl" target="_blank">
                    <i nz-icon nzType="file-word" nzTheme="outline"></i> Abrir
                    Documento Word
                  </a>
                </ng-container>
                <ng-template #textFileTemplate>
                  <ng-container
                    *ngIf="fileUrl.endsWith('.txt'); else defaultFileTemplate"
                  >
                    <a [href]="fileUrl" target="_blank">
                      <i nz-icon nzType="file-text" nzTheme="outline"></i> Abrir
                      Arquivo de Texto
                    </a>
                  </ng-container>
                  <ng-template #defaultFileTemplate>
                    <a [href]="fileUrl" target="_blank">
                      <i nz-icon nzType="file" nzTheme="outline"></i> Abrir
                      Arquivo
                    </a>
                  </ng-template>
                </ng-template>
              </ng-template>
            </ng-template>
          </li>
        </ul>
      </div>
    </ng-container>
  </nz-modal>

  <!-- Template do rodapé do modal -->
  <ng-template #modalFooter>
    <div class="modal-footer">
      <button nz-button nzType="primary" (click)="fecharModal()">OK</button>
    </div>
  </ng-template>
</div>
