.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background-color: #001529;
  border-bottom: 1px solid #001529;
  position: relative;
}

.carrinho-container:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carrinho-container app-carrinho {
  display: flex;
  align-items: right;
  justify-content: right;
}

.empresa-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #001529;
  padding: 10px 40px;
  border-radius: 5px;
  border: 1px solid #001529;
}

.empresa-icon {
  font-size: 24px;
  color: #1890ff;
}

.status-icon {
  margin-left: 8px;
  font-size: 16px;
}

.icon-aberto {
  color: #52c41a;
}

.icon-fechado {
  color: #ff4d4f;
}

.empresa-modal-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 16px;
}

.modal-header {
  text-align: center;
  margin-bottom: 24px;

  h2 {
    color: #595959;
    margin-bottom: 8px;
  }

  .status {
    font-size: 16px;
    font-weight: bold;
    color: #1890ff;
  }
}

.modal-section {
  margin-bottom: 24px;
  background: #fafafa;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.nome-icon,
.endereco-icon,
.funcionamento-icon {
  font-size: 16px;
  color: #1890ff;
  margin-right: 8px;
}

.modal-section-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #262626;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 4px;
}

.modal-section-content {
  font-size: 14px;
  color: #595959;
  line-height: 1.5;
}

.modal-section-content p {
  margin: 4px 0;
}

.modal-section-content ul {
  list-style: none;
  padding: 0;
}

.modal-section-content li {
  margin-bottom: 8px;
}

.horarios-container ul {
  list-style: none;
  padding: 0;
}

.horarios-container li {
  font-size: 14px;
  margin-bottom: 8px;
  color: #595959;
}

.empresa-info p {
  margin: 0;
  font-size: 14px;
  color: white;
  line-height: 1.5;
}

.empresa-nome {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.empresa-endereco {
  font-size: 14px;
  margin: 4px 0;
}

.empresa-funcionamento {
  font-size: 14px;
  margin: 4px 0;
  color: #52c41a; /* Verde para destacar o horário */
}

/* Estilos para telas menores */
@media screen and (max-width: 1280px) {
  .carrinho-container {
    display: none;
  }

  .empresa-modal-container {
    padding: 8px;
  }
  .empresa-info {
    text-align: center;
  }

  .modal-section {
    padding: 12px;
  }
}
