<div class="modal-content">
  <div class="venda-info">
    <h3>Venda de Número #{{ venda.id }}</h3>

    <div class="info-group">
      <div class="info-row">
        <div class="info-item">
          <label>Cliente</label>
          <span>{{ venda.cliente.nome }}</span>
        </div>
        <div class="info-item">
          <label>Data</label>
          <span>{{ venda.dataVenda | date : "dd/MM/yy HH:mm" }}</span>
        </div>
      </div>

      <div class="info-row">
        <div class="info-item">
          <label>Status</label>
          <span class="status-badge">{{ venda.status.nome }}</span>
        </div>
        <div class="info-item">
          <label>Tipo</label>
          <span class="tipo-badge">{{ venda.tipoVenda }}</span>
        </div>
      </div>

      <div class="info-item full-width">
        <label>Pagamento</label>
        <span
          >{{ venda.pagamento.nome }} ({{
            venda.pagamento.porcentagemAcrescimo
          }}%)</span
        >
      </div>
    </div>

    <div class="items-cards">
      <div class="scroll-container">
        <table class="tabela-itens">
          <thead>
            <tr>
              <th>Produto</th>
              <th>Qtd</th>
              <th>Preço</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of venda.itens">
              <td>{{ item.produto.nome }}</td>
              <td>{{ item.quantidade }}</td>
              <td>{{ item.precoUnitario | currency : "BRL" }}</td>
              <td>{{ item.valorTotal | currency : "BRL" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="total-value">
      <label>Total:</label>
      <span>{{ venda.valorTotal | currency : "BRL" }}</span>
    </div>
  </div>

  <form [formGroup]="form" (ngSubmit)="alterarStatus()" class="status-form">
    <nz-select
      *ngIf="statusPossiveis.length > 0"
      formControlName="status"
      nzPlaceHolder="Novo status"
    >
      <nz-option
        *ngFor="let status of statusPossiveis"
        [nzValue]="status.id"
        [nzLabel]="status.nome"
      ></nz-option>
    </nz-select>

    <div *ngIf="statusPossiveis?.length === 0" class="no-status-message">
      Venda fechada não pode ser alterada.
    </div>

    <div *ngIf="statusPossiveis?.length != 0" class="modal-footer">
      <button nz-button (click)="cancelar()" nzType="default">Cancelar</button>
      <button
        nz-button
        nzType="primary"
        [disabled]="carregando || !form.valid"
        [nzLoading]="carregando"
      >
        Confirmar
      </button>
    </div>
  </form>
</div>
