<div *ngIf="carregando" class="spinner-overlay">
  <nz-spin nzSize="large" nzSimple></nz-spin>
</div>

<button
  *ngIf="impersonateAtivo"
  nzType="primary"
  [nzLoading]="carregando"
  nz-button
  nzSize="large"
  nzShape="round"
  nzIcon="rollback"
  (click)="pararImpersonate()"
>
  Voltar ao Usuário
</button>

<div [hidden]="carregando">
  <section class="chart-section">
    <h2>Distribuição de Tarefas por Status</h2>
    <div>
      <canvas
        id="pieChart"
        baseChart
        [data]="pieChartData"
        [options]="pieChartOptions"
        chartType="pie"
      >
      </canvas>
    </div>
  </section>

  <section class="chart-section">
    <h2>Gráfico de Tarefas Concluídas</h2>
    <div>
      <canvas
        baseChart
        id="barChart"
        [data]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [type]="'bar'"
      >
      </canvas>
    </div>
  </section>
</div>
