<div class="container-wrapper">
  <nz-spin [nzSpinning]="carregando">
    <div class="container">
      <nz-card [nzBordered]="false" class="form-container">
        <form
          nz-form
          nzLayout="vertical"
          [formGroup]="categoriaForm"
          (ngSubmit)="criar()"
          class="categoria-form"
        >
          <!-- Cabeçalho -->
          <h2 class="form-title">Cadastrar Categoria</h2>

          <!-- Informações da Categoria -->
          <h3 class="form-section-title">Informações da Categoria</h3>
          <div nz-row [nzGutter]="16">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24">
              <nz-form-item>
                <nz-form-label [nzRequired]="true" nzFor="nome"
                  >Nome</nz-form-label
                >
                <nz-form-control>
                  <input
                    id="nome"
                    nz-input
                    maxlength="50"
                    formControlName="nome"
                    placeholder="Ex. Eletrônicos"
                    required
                  />
                  <div class="char-counter">
                    {{ categoriaForm.get("nome")?.value.length || 0 }}/50
                    caracteres
                  </div>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24">
              <nz-form-item>
                <nz-form-label [nzRequired]="true" nzFor="descricao"
                  >Descrição</nz-form-label
                >
                <nz-form-control>
                  <textarea
                    id="descricao"
                    nz-input
                    maxlength="255"
                    formControlName="descricao"
                    placeholder="Descrição da categoria"
                    required
                  ></textarea>
                  <div class="char-counter">
                    {{ categoriaForm.get("descricao")?.value.length || 0 }}/255
                    caracteres
                  </div>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

          <!-- Ações -->
          <div class="form-actions">
            <button
              type="button"
              nz-button
              nzType="default"
              (click)="cancelar()"
            >
              Cancelar
            </button>
            <button
              [nzLoading]="carregando"
              type="submit"
              nz-button
              nzType="primary"
              [disabled]="!categoriaForm.valid"
            >
              Cadastrar
            </button>
          </div>
        </form>
      </nz-card>
    </div>
  </nz-spin>
</div>
