.fixed-layout {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  height: 90px;
  line-height: 100px;
  padding: 0 0px;
  background: #001529;
}

nz-layout {
  flex: 1;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

nz-sider {
  height: calc(100vh - 64px);
  overflow: auto;
}

.content {
  padding: 24px;
  background: #fff;
  height: calc(100vh - 64px);
  overflow: auto;
}

/* Estilos para telas maiores */
.nz-sider {
  display: block;
}

.nav-inferior {
  display: none;
}

.mobile-nav {
  display: none;
}

@media (max-width: 1280px) {
  nz-sider {
    display: none;
  }

  nz-content {
    margin-left: 0;
    margin-bottom: 56px;
  }

  .mobile-nav {
    display: flex;
  }
}

/* Estilos para telas menores */
@media screen and (max-width: 768px) {
  .nz-sider {
    display: none;
  }

  .nav-inferior {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
  }
}
