<nz-layout class="fixed-layout">
  <!-- HEADER -->
  <nz-header class="header">
    <app-header></app-header>
  </nz-header>

  <!-- MAIN LAYOUT -->
  <nz-layout>
    <!-- SIDEBAR -->
    <nz-sider
      nzWidth="250px"
      [nzCollapsedWidth]="80"
      [(nzCollapsed)]="isCollapsed"
      nzCollapsible
      (nzCollapsedChange)="onCollapse($event)"
    >
      <ul nz-menu nzTheme="dark" nzMode="inline">
        <!-- HOME -->
        <li
          *ngIf="
            roles.includes(ACESSO.ADMINISTRADOR) ||
            roles.includes(ACESSO.OPERADOR)
          "
          nz-menu-item
          [nzMatchRouter]="true"
          routerLink="/home"
        >
          <i nz-icon nzType="dashboard"></i>
          <span>Home</span>
        </li>

        <!-- TAREFAS -->
        <li
          *ngIf="
            roles.includes(ACESSO.ADMINISTRADOR) ||
            roles.includes(ACESSO.OPERADOR)
          "
          nz-submenu
          nzTitle="Tarefas"
          nzIcon="schedule"
        >
          <ul>
            <li
              *ngIf="roles.includes(ACESSO.ADMINISTRADOR)"
              nz-menu-item
              [nzMatchRouter]="true"
              routerLink="/tarefas/create"
            >
              <i nz-icon nzType="file-add"></i>
              <span>Cadastrar Tarefa</span>
            </li>
            <li
              *ngIf="roles.includes(ACESSO.ADMINISTRADOR)"
              nz-menu-item
              [nzMatchRouter]="true"
              routerLink="/tarefas/list"
            >
              <i nz-icon nzType="unordered-list"></i>
              <span>Listar Tarefas</span>
            </li>
            <li
              *ngIf="
                roles.includes(ACESSO.ADMINISTRADOR) ||
                roles.includes(ACESSO.OPERADOR)
              "
              nz-menu-item
              [nzMatchRouter]="true"
              routerLink="/tarefas/usuario/list"
            >
              <i nz-icon nzType="unordered-list"></i>
              <span>Minhas Tarefas</span>
            </li>
          </ul>
        </li>

        <!-- NOTIFICAÇÕES -->
        <li
          *ngIf="
            roles.includes(ACESSO.ADMINISTRADOR) ||
            roles.includes(ACESSO.OPERADOR)
          "
          nz-submenu
          nzTitle="Notificações"
          nzIcon="bell"
        >
          <ul>
            <nz-badge [nzCount]="quantidadeNotificacoes">
              <li nz-menu-item [nzMatchRouter]="true" routerLink="/notificacao">
                <i nz-icon nzType="bell"></i>
                <span>Listar</span>
              </li>
            </nz-badge>
          </ul>
        </li>

        <!-- PRODUTOS -->
        <li
          *ngIf="
            roles.includes(ACESSO.ADMINISTRADOR) ||
            roles.includes(ACESSO.CLIENTE)
          "
          nz-submenu
          nzTitle="Produto"
          nzIcon="shopping-cart"
        >
          <ul>
            <li
              *ngIf="roles.includes(ACESSO.ADMINISTRADOR)"
              nz-menu-item
              [nzMatchRouter]="true"
              routerLink="/produtos/create"
            >
              <i nz-icon nzType="idcard"></i>
              <span>Cadastrar</span>
            </li>
            <li
              *ngIf="roles.includes(ACESSO.CLIENTE)"
              nz-menu-item
              [nzMatchRouter]="true"
              routerLink="/produtos/card"
            >
              <i nz-icon nzType="idcard"></i>
              <span>Loja</span>
            </li>
            <li
              *ngIf="roles.includes(ACESSO.ADMINISTRADOR)"
              nz-menu-item
              [nzMatchRouter]="true"
              routerLink="/produtos/list"
            >
              <i nz-icon nzType="unordered-list"></i>
              <span>Listar</span>
            </li>
          </ul>
        </li>

        <!-- ADMINISTRATIVO -->
        <li
          *ngIf="roles.includes(ACESSO.ADMINISTRADOR)"
          nz-submenu
          nzTitle="Administrativo"
          nzIcon="setting"
        >
          <ul>
            <!-- Categoria -->
            <li nz-submenu nzTitle="Categoria" nzIcon="tags">
              <ul>
                <li
                  nz-menu-item
                  [nzMatchRouter]="true"
                  routerLink="/categorias/create"
                >
                  <i nz-icon nzType="idcard"></i>
                  <span>Cadastrar</span>
                </li>
                <li
                  nz-menu-item
                  [nzMatchRouter]="true"
                  routerLink="/categorias/list"
                >
                  <i nz-icon nzType="unordered-list"></i>
                  <span>Listar</span>
                </li>
              </ul>
            </li>

            <!-- Pagamentos -->
            <li nz-submenu nzTitle="Pagamento" nzIcon="credit-card">
              <ul>
                <li
                  nz-menu-item
                  [nzMatchRouter]="true"
                  routerLink="/pagamentos/create"
                >
                  <i nz-icon nzType="idcard"></i>
                  <span>Cadastrar</span>
                </li>
                <li
                  nz-menu-item
                  [nzMatchRouter]="true"
                  routerLink="/pagamentos/list"
                >
                  <i nz-icon nzType="unordered-list"></i>
                  <span>Listar</span>
                </li>
              </ul>
            </li>

            <li nz-submenu nzTitle="Perfil" nzIcon="solution">
              <ul>
                <li
                  nz-menu-item
                  [nzMatchRouter]="true"
                  routerLink="/perfis/create"
                >
                  <i nz-icon nzType="idcard"></i>
                  <span>Cadastrar</span>
                </li>
                <li
                  nz-menu-item
                  [nzMatchRouter]="true"
                  routerLink="/perfis/list"
                >
                  <i nz-icon nzType="unordered-list"></i>
                  <span>Listar</span>
                </li>
              </ul>
            </li>

            <!-- Usuário -->
            <li nz-submenu nzTitle="Usuário" nzIcon="user">
              <ul>
                <li
                  nz-menu-item
                  [nzMatchRouter]="true"
                  routerLink="/administrativo"
                >
                  <i nz-icon nzType="user-switch"></i>
                  <span>Logar como</span>
                </li>
                <li
                  nz-menu-item
                  [nzMatchRouter]="true"
                  routerLink="/usuarios/create"
                >
                  <i nz-icon nzType="user-add"></i>
                  <span>Cadastrar Usuário</span>
                </li>
                <li
                  nz-menu-item
                  [nzMatchRouter]="true"
                  routerLink="/usuarios/list"
                >
                  <i nz-icon nzType="unordered-list"></i>
                  <span>Listar Usuários</span>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <!-- LOGOUT -->
        <li nz-menu-item (click)="deslogar()" (keydown)="onKeyDown($event)">
          <i nz-icon nzType="logout"></i>
          <span>Sair</span>
        </li>
      </ul>
    </nz-sider>

    <!-- CONTENT -->
    <nz-content>
      <div class="content">
        <app-notificacao-view></app-notificacao-view>
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
  <div class="mobile-nav">
    <ul>
      <li routerLink="/home">
        <i nz-icon nzType="home"></i>
        <span>Home</span>
      </li>
      <li routerLink="/tarefas/usuario/list">
        <i nz-icon nzType="schedule"></i>
        <span>Tarefas</span>
      </li>
      <li routerLink="/notificacao">
        <nz-badge [nzCount]="quantidadeNotificacoes">
          <i nz-icon nzType="bell"></i>
        </nz-badge>
        <span>Notificações</span>
      </li>
      <li routerLink="/produtos/card">
        <i nz-icon nzType="shopping-cart"></i>
        <span>Loja</span>
      </li>
      <li (click)="deslogar()">
        <i nz-icon nzType="logout"></i>
        <span>Sair</span>
      </li>
    </ul>
  </div>
</nz-layout>
