<nz-layout class="fixed-layout">
  <nz-header class="header">
    <app-header></app-header>
  </nz-header>
  <nz-layout>
    <nz-sider
      nzWidth="250px"
      [nzCollapsedWidth]="80"
      [(nzCollapsed)]="isCollapsed"
      nzCollapsible
      (nzCollapsedChange)="onCollapse($event)"
    >
      <ul nz-menu nzTheme="dark" nzMode="inline">
        <li
          *ngIf="
            roles.includes(ACESSO.ADMINISTRADOR) ||
            roles.includes(ACESSO.OPERADOR)
          "
          nz-menu-item
          routerLink="/home"
        >
          <i nz-icon nzType="dashboard"></i>
          <span>Home</span>
        </li>

        <!-- Submenu Tarefas -->
        <li
          *ngIf="
            roles.includes(ACESSO.ADMINISTRADOR) ||
            roles.includes(ACESSO.OPERADOR)
          "
          nz-submenu
          nzTitle="Tarefas"
          nzIcon="schedule"
        >
          <ul>
            <li
              *ngIf="roles.includes(ACESSO.ADMINISTRADOR)"
              nz-menu-item
              routerLink="/tarefas/create"
            >
              <i nz-icon nzType="file-add"></i>
              <span>Cadastrar Tarefa</span>
            </li>
            <li
              *ngIf="roles.includes(ACESSO.ADMINISTRADOR)"
              nz-menu-item
              routerLink="/tarefas/list"
            >
              <i nz-icon nzType="unordered-list"></i>
              <span>Listar Tarefas</span>
            </li>
            <li
              *ngIf="
                roles.includes(ACESSO.ADMINISTRADOR) ||
                roles.includes(ACESSO.OPERADOR)
              "
              nz-menu-item
              routerLink="/tarefas/usuario/list"
            >
              <i nz-icon nzType="unordered-list"></i>
              <span>Minhas Tarefas</span>
            </li>
          </ul>
        </li>

        <!-- Minhas Tarefas -->
        <li
          *ngIf="
            roles.includes(ACESSO.ADMINISTRADOR) ||
            roles.includes(ACESSO.OPERADOR)
          "
          nz-submenu
          nzTitle="Notificações"
          nzIcon="bell"
        >
          <ul>
            <nz-badge [nzCount]="quantidadeNotificacoes">
              <li nz-menu-item routerLink="/notificacao">
                <i nz-icon nzType="bell"></i>
                <span>Listar</span>
              </li>
            </nz-badge>
          </ul>
        </li>

        <!-- Submenu Perfil -->
        <li
          *ngIf="roles.includes(ACESSO.ADMINISTRADOR)"
          nz-submenu
          nzTitle="Perfil"
          nzIcon="solution"
        >
          <ul>
            <li nz-menu-item routerLink="/perfis/create">
              <i nz-icon nzType="idcard"></i>
              <span>Cadastrar</span>
            </li>
            <li nz-menu-item routerLink="/perfis/list">
              <i nz-icon nzType="unordered-list"></i>
              <span>Listar</span>
            </li>
          </ul>
        </li>

        <!-- Submenu Categoria -->
        <li
          *ngIf="roles.includes(ACESSO.ADMINISTRADOR)"
          nz-submenu
          nzTitle="Categoria"
          nzIcon="tags"
        >
          <ul>
            <li nz-menu-item routerLink="/categorias/create">
              <i nz-icon nzType="idcard"></i>
              <span>Cadastrar</span>
            </li>
            <li nz-menu-item routerLink="/categorias/list">
              <i nz-icon nzType="unordered-list"></i>
              <span>Listar</span>
            </li>
          </ul>
        </li>

        <!-- Submenu Administrativo -->
        <li
          *ngIf="roles.includes(ACESSO.ADMINISTRADOR)"
          nz-submenu
          nzTitle="Administrativo"
          nzIcon="setting"
        >
          <ul>
            <li nz-menu-item routerLink="/administrativo">
              <i nz-icon nzType="user-switch"></i>
              <span>Logar como</span>
            </li>
            <li nz-menu-item routerLink="/usuarios/create">
              <i nz-icon nzType="user-add"></i>
              <span>Cadastrar Usuário</span>
            </li>
            <li nz-menu-item routerLink="/usuarios/list">
              <i nz-icon nzType="unordered-list"></i>
              <span>Listar Usuários</span>
            </li>
          </ul>
        </li>

        <!-- Logout -->
        <li nz-menu-item (click)="deslogar()">
          <i nz-icon nzType="logout"></i>
          <span>Sair</span>
        </li>
      </ul>
    </nz-sider>

    <nz-content>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
