<nz-badge [nzCount]="itensCarrinho.length">
  <button nz-button nzType="primary" (click)="open()">
    <i nz-icon nzType="shopping-cart" nzTheme="outline"></i>
  </button>
</nz-badge>
<nz-drawer
  [nzClosable]="true"
  [nzVisible]="carrinhoVisivel"
  nzPlacement="right"
  nzTitle="Carrinho de Compras"
  [nzWidth]="500"
  (nzOnClose)="close()"
>
  <ng-container *nzDrawerContent>
    <div class="carrinho-container">
      <ul
        class="carrinho-lista"
        *ngIf="itensCarrinho.length > 0; else carrinhoVazio"
      >
        <li *ngFor="let item of itensCarrinho">
          <div class="carrinho-item-info">
            <div><strong>Produto:</strong> {{ item.produto.nome }}</div>
            <div><strong>Quantidade:</strong> {{ item.quantidade }}</div>
            <div><strong>Preço Unitário:</strong> {{ item.precoUnitario | currency : "BRL" }}</div>
            <div>
              <strong>Valor Total: </strong
              >{{ item.produto.preco * item.quantidade | currency : "BRL" }}
            </div>
          </div>
          <button
            nz-button
            nzType="default"
            (click)="diminuirQuantidade(item.produto)"
            class="carrinho-item-acoes"
          >
            <i nz-icon nzType="minus-circle" nzTheme="outline"></i>
          </button>
          <button
            nz-button
            nzType="default"
            (click)="aumentarQuantidade(item.produto)"
            class="carrinho-item-acoes"
          >
            <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
          </button>
        </li>
      </ul>
      <ng-template #carrinhoVazio>
        <div>Seu carrinho está vazio.</div>
      </ng-template>
      <div *ngIf="itensCarrinho.length > 0" class="carrinho-rodape">
        <div class="carrinho-subtotal">
          Subtotal: {{ subTotal | currency : "BRL" }}
        </div>
        <button
          nz-button
          nzType="primary"
          (click)="finalizarPedido()"
          class="carrinho-checkout"
        >
          Finalizar Compra
        </button>
        <button
          nz-button
          (click)="limparCarrinho()"
          nzType="default"
          class="carrinho-checkout"
        >
          Limpar Carrinho
        </button>
      </div>
    </div>
  </ng-container>
</nz-drawer>
