<div class="container">
  <h1>Status</h1>

  <nz-alert
    *ngIf="
      (alertaService.tipoAlerta$ | async) &&
      (alertaService.mensagemAlerta$ | async)
    "
    [nzType]="(alertaService.tipoAlerta$ | async) || 'info'"
    [nzMessage]="alertaService.mensagemAlerta$ | async"
    nzShowIcon
    nzCloseable
    (nzOnClose)="alertaService.limparAlerta()"
  ></nz-alert>

  <div class="search-container">
    <h2>Buscar Status</h2>
    <form [formGroup]="filtroForm" (ngSubmit)="buscarStatus()">
      <input nz-input type="number" placeholder="Número" formControlName="id" />
      <input nz-input placeholder="Nome" formControlName="nome" />
      <input nz-input placeholder="Descrição" formControlName="descricao" />
      <button [nzLoading]="carregando" nz-button nzType="primary" type="submit">
        <i nz-icon nzType="search"></i> Buscar
      </button>
    </form>
  </div>
  <h2>Lista de Status</h2>
  <nz-table
    #basicTable
    [nzData]="status"
    [nzPageSize]="itensPorPagina"
    [nzFrontPagination]="false"
    [nzPageIndex]="paginaAtual"
    [nzLoading]="carregando"
    [nzBordered]="true"
    [nzTotal]="totalElementos"
    (nzPageIndexChange)="aoMudarPagina($event)"
  >
    <thead>
      <tr>
        <th scope="col">Número</th>
        <th scope="col">Nome</th>
        <th scope="col">Descrição</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let status of status">
        <td>{{ status.id }}</td>
        <td>{{ status.nome }}</td>
        <td>{{ status.descricao }}</td>
        <td>
          <a [routerLink]="['/status/update', status.id]">
            <i
              nz-icon
              nzType="edit"
              nzTheme="outline"
              title="Atualizar Status"
            ></i>
          </a>
          <a [routerLink]="['/status/delete', status.id]">
            <i
              nz-icon
              nzType="delete"
              nzTheme="outline"
              title="Deletar Status"
            ></i>
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
