<div class="container-wrapper">
  <nz-spin [nzSpinning]="carregando">
    <div class="container">
      <nz-card [nzBordered]="false" class="form-container">
        <form
          nz-form
          nzLayout="vertical"
          [formGroup]="pagamentoForm"
          (ngSubmit)="delete()"
          class="categoria-form"
        >
          <!-- Cabeçalho -->
          <h2 class="form-title">Apagar Tipo de Pagamento</h2>

          <!-- Informações da Pagamento -->
          <h3 class="form-section-title">Informações da Tipo de Pagamento</h3>
          <div nz-row [nzGutter]="16">
            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24">
              <nz-form-item>
                <nz-form-label [nzRequired]="true" nzFor="nome"
                  >Nome</nz-form-label
                >
                <nz-form-control>
                  <input
                    id="nome"
                    nz-input
                    maxlength="50"
                    formControlName="nome"
                    placeholder="Ex. Eletrônicos"
                    required
                  />
                  <div class="char-counter">
                    {{ pagamentoForm.get("nome")?.value.length || 0 }}/50
                    caracteres
                  </div>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24">
              <nz-form-item>
                <nz-form-label [nzRequired]="true" nzFor="descricao"
                  >Descrição</nz-form-label
                >
                <nz-form-control>
                  <textarea
                    id="descricao"
                    nz-input
                    maxlength="255"
                    formControlName="descricao"
                    placeholder="Descrição da categoria"
                    required
                  ></textarea>
                  <div class="char-counter">
                    {{ pagamentoForm.get("descricao")?.value.length || 0 }}/255
                    caracteres
                  </div>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24">
              <nz-form-item>
                <nz-form-label [nzRequired]="true" nzFor="porcentagemAcrescimo">
                  Porcentagem de Acréscimo (%)
                </nz-form-label>
                <nz-form-control [nzErrorTip]="errorTpl">
                  <nz-input-number
                    id="porcentagemAcrescimo"
                    formControlName="porcentagemAcrescimo"
                    [nzMin]="0"
                    [nzMax]="100"
                    [nzStep]="0.1"
                    [nzPrecision]="1"
                    [nzPlaceHolder]="'Ex: 1.5'"
                    (keydown)="bloquearDigitacao($event)"
                  ></nz-input-number>
                  <ng-template #errorTpl let-control>
                    <ng-container *ngIf="control.hasError('min')">
                      O valor mínimo é 0%
                    </ng-container>
                    <ng-container *ngIf="control.hasError('max')">
                      O valor máximo é 100%
                    </ng-container>
                    <ng-container *ngIf="control.hasError('required')">
                      Campo obrigatório
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

          <!-- Ações -->
          <div class="form-actions">
            <button
              type="button"
              nz-button
              nzType="default"
              (click)="cancelar()"
            >
              Cancelar
            </button>
            <button
              [nzLoading]="carregando"
              type="submit"
              nz-button
              nzType="primary"
            >
              Apagar
            </button>
          </div>
        </form>
      </nz-card>
    </div>
  </nz-spin>
</div>
